@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #16161d;
  /* rgb(202, 7, 7); */
  z-index: 0;
  margin: 0;
  padding: 0;
  width: 100%;

  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.container {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
}

h1 {
  margin-top: 100px;
  font-size: 5vw;
}
.buttons {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  z-index: 10;
  position: fixed;
  gap: 1rem;
  right: 10px;
  top: 50vh;
  accent-color: #e21835;
}
.dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 2px;
  background-color: none;
  border: solid white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #e21835;
}

#radio2:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

#radio1:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

#radio0:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  font-size: 2rem;
  white-space: nowrap;
  opacity: 0;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 1rem;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  right: 2.5rem;
  margin-top: -1rem;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}
#preview {
  position: absolute;
  display: flex;
  justify-content: center;
  opacity: 0.6;
}

.front {
  width: 33%;
}

a:link,
a:visited {
  padding: 5px;
  color: white;
  transition: all 0.3s ease-in;
}

a:hover {
  color: red;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.year21 {
  color: white;
  display: flex;
  flex-direction: column;
  border-top: 0.5rem dotted white;
  padding: 5rem 1rem 5rem 1rem;
}

iframe {
  display: flex;
  width: 50vw;
  height: 30vw;

  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-left: auto;
  margin-right: auto;
}

.year22 {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.pic22 {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/********************************************* UPDATE **************************************************/
.year23 {
  color: white;
  display: flex;
  flex-direction: column;
  border-top: 0.5rem dotted white;
  border-bottom: 0.5rem dotted white;
  margin-bottom: 10rem;

  padding: 5rem 1rem 5rem 1rem;
}
/********************************************* UPDATE **************************************************/

a {
  text-decoration: none;
  color: white;
}

.viewbtn {
  border: none;
  background: #e21835;
  font-size: 3vw;
  border: 5px;
  border-radius: 5px;
  transform: scale(1);
  display: table;
  margin: 0 auto;
  transition: all 0.3s ease-in;
}

.viewbtn:hover {
  transform: scale(1.05);
  color: white;
  transition: all 0.3s ease-in-out;
}

.logo22 {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  background-color: #fcf3f1;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: xxx-large;
  }
  #one {
    display: none;
  }

  #two {
    width: 50%;
  }

  #three {
    width: 50%;
  }

  .svg {
    margin-top: 100px;
  }
  .logo22 {
    width: 350px;
  }

  #preview {
    margin-top: 12vw;
  }

  .viewbtn {
    font-size: 4.5vw;
  }

  .content {
    top: 5vw;
  }

  .buttons {
    top: 20vh;
    gap: 0rem;
  }
  .dot {
    width: 1rem;
    height: 1rem;
  }

  .hovertext:before {
    font-size: 1rem;
  }

  iframe {
    width: 90vw;
    height: 50vw;
  }
}
