body{
    background-color: rgb(255, 91, 86);
}
.top{
    height: 25%;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 75%;
    z-index: -1;
    left: 0%;
    
}

.title{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
    height: 10%;
    width: 10%;
    position: absolute;
    top: 5%;
    right: 5%;

}


/* removing default link text apparance */
a:visited { 
    color: white; 
    text-decoration: none; 
   }


.btn{
    padding: 5px 20px;
    border:5px solid black;
    margin: 0 10px 10px 0;
    border-radius: 10%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    background-color: black;
}

a:hover{
   
    color: black;
  }

.btn:hover{
    background-color: white;
    
}

.about{
    position: absolute;
    left: 15%;  
    top: 15%;
    
    
  }

.calendar{
    position: absolute;
    left: 25%;
    top: 15%;
    
    
}

.contact{
    position: absolute;
    left: 35%;
    top: 15%;
    
}

.resources{
    position: absolute;
    left: 45%;
    top: 15%;
    
}

.news{
    position: absolute;
    left: 56%;
    top: 15%;
    
}

.gallery{
    position: absolute;
    left: 65%;
    top: 15%;

}

.support{
    position: absolute; 
    left: 74%;
    top: 15%;
 
}

#short.about{
    font-family:'Times New Roman', Times, serif;
    position:absolute;
    top:25%;
    left: 1%;
}

#small.gallery{
    height: 50%;
    width: 40%;
    position: absolute;
    top: 45%;
    left: 30%;
}

.bg{
    height: 50%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 45%;
    left:0%;
    z-index: -1;
}