body{
    background-color: rgb(255, 91, 86);
}
.top{
    background-color: white; 
    z-index: -1;
    display: flex;
    flex-direction: column;
    
}

.title{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
   
    
}

.logo{
    height: 5%;
    width: 10%;
 

}

/* removing default link text apparance */
a:visited { 
    color: white; 
    text-decoration: none; 
   }

.buttons{
    display: flex;
    /* for horizontal axis */
    justify-content: center;
    /* vertical axis is align-items */
    flex-wrap: wrap;
}


.btn{
    padding: 5px 20px;
    border:5px solid black;
    margin: 0 10px 10px 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    background-color: black;
}

a:hover{
   
    color: black;
  }

.btn:hover{
    background-color: white;
    
}


#short.about{
    font-family:'Times New Roman', Times, serif;
    display: flex;
}

#small.gallery{
    height: 50%;
    width: 40%;
    position: absolute;
    top: 45%;
    left: 30%;
    color: white;
}

.bg{
    height: 50%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 45%;
    left:0%;
    z-index: -1;
}