body{
    background-color: rgb(250, 76, 76);
    z-index: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.container{
    display: flex;
    flex-direction:column;
    padding: 50px 100px;
    

}

h1{
    font-size:xx-large;
}

h2{

    text-align: center;
    padding: 30px;
    background-color: black;
    color:white;
    border-radius: 15px;;
}
h3{
    text-align: center;
    padding: 10px;
    flex: 20%;
}
.abt{
    border: 5px #000 solid;
    padding: 10px;
    text-align: center;
    background-color:rgb(245, 211, 205);
}

.director{
    border: 5px #000 solid;
    padding: 10px;
    display: flex;
    background-color:rgb(245, 211, 205);
}

.meyerbio{
    padding: 30px;
}


.orchestras{
    border: 5px #000 solid;
    background-color: rgb(245, 211, 205);
    display: flex; 
    flex-direction: column;
    padding: 10px;
   
}

.phil{
    display: flex;
    padding-right: 100px;
}
.symph{
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    padding-left: 100px;
}

.chmb2{
  display: flex;
  padding-right: 120px;
}

.chmb1{
  display: flex;
    flex-direction: row-reverse;
    text-align: right;
    padding-left: 100px;
}

.officers{
    border: 5px #000 solid;
    padding: 10px;
    background-color:rgb(245, 211, 205);
}

footer{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: -10px;
    width: 102%;
    bottom: 0px;
    padding: 15px;
}