body {
    background-color: white;
    /*rgb(202, 7, 7);  */
    z-index: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;


}

h1 {
    padding-top: 20px;
    font-size: xxx-large;
}

.abt.text {
    padding: 0px 150px;
    padding-bottom: 50px;
}

/* h2 {

    text-align: center;
    padding: 30px;
    background-color: rgb(1, 1, 1);
    color: white;
    border-radius: 15px;
    
} */

h2 {
    text-align: center;
    padding: 25px;
    background-color: rgb(202, 7, 7);
    color: white;
    height: 50px;
    margin-top: 0;
    font-size: xx-large;
    margin-bottom: 0;
}



.abt {
    /* border: 8px rgb(128, 114, 114) outset; */
    padding: 0px 10px;
    text-align: center;
    /* background-color: rgb(245, 211, 205); */
    background-color: black;
    color: white;
}


.director {

    /* border: 5px #000 solid; */
    padding: 50px;
    display: flex;
    /* background-color: rgb(245, 211, 205); */
}


.meyerbio {
    padding: 0px 30px;
}

.meyer {
    width: min-content;
    height: min-content;
}

h3 {
    text-align: center;
    padding: 10px;

}

.orchestras {
    background-color: black;

}

.orchestras1 {
    gap: 50px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.phil {
    margin-top: 50px;
    background-color: white;
    text-align: justify;
    padding: 20px;
    width: 500px;
}


.phil:hover {
    transform: scale(1.1);

}

.phil:hover::after {
    content: url(../images/Orchestras/phil.png);
    position: absolute;
    top: 20px;
    left: 580px;
    box-shadow: 20px -20px red;


}

.symph {
    margin-top: 50px;
    background-color: white;
    text-align: right;
    text-align: justify;
    padding: 20px;
    width: 500px;


}

.symph:hover {
    transform: scale(1.1);

}

.symph:hover::after {
    content: url(../images/Orchestras/symph.png);
    position: absolute;
    top: 20px;
    right: 580px;
    box-shadow: -20px -20px red;


}

.orchestras2 {
    gap: 50px;
    display: flex;
    margin-top: 0px;
    justify-content: center;
    padding: 50px 0px;

}


.chmb2 {
    background-color: white;
    padding-right: 120px;
    text-align: justify;
    padding: 20px;
    width: 500px;
    margin-bottom: 50px;

}

.chmb2:hover {
    transform: scale(1.1);

}

.chmb2:hover::after {
    content: url(../images/Orchestras/chmb2.png);
    position: absolute;
    top: 40px;
    left: 580px;
    box-shadow: 20px 20px red;


}

.chmb1 {
    background-color: white;
    text-align: right;
    padding-left: 100px;
    text-align: justify;
    padding: 20px;
    width: 500px;
    margin-bottom: 50px;
}

.chmb1:hover {
    transform: scale(1.1);

}

.chmb1:hover::after {
    content: url(../images/Orchestras/chmb1.png);
    position: absolute;
    top: 40px;
    right: 580px;
    box-shadow: -20px 20px red;


}

td,
th {

    border: thin #000 solid;
    padding: 5px;
    background-color: white;
}

.officers {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}



footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    width: 100%;
    bottom: 0px;
    padding: 15px;
}