html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    /*rgb(202, 7, 7);  */
    z-index: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    margin: 0;
    padding: 0;
    width: 100%;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 820) {

    .abt.text {
        padding: 0px 50px;
        padding-bottom: 50px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;


}

h1 {
    padding-top: 20px;
    font-size: xxx-large;
}

.abt.text {
    padding: 0px 150px;
    padding-bottom: 50px;
}

/* h2 {

    text-align: center;
    padding: 30px;
    background-color: rgb(1, 1, 1);
    color: white;
    border-radius: 15px;
    
} */

h2 {

    text-align: center;
    padding: 25px;
    background-color: rgb(202, 7, 7);
    color: white;
    height: 50px;
    margin-top: 0;
    font-size: xx-large;
    margin-bottom: 0;
}



.abt {
    padding: 0px 10px;
    text-align: center;
    background-color: black;
    color: white;
}


.director {

    /* border: 5px #000 solid; */
    padding: 50px;
    display: flex;
    /* background-color: rgb(245, 211, 205); */
}


.meyerbio {
    padding: 0px 30px;
}

.meyer {
    width: min-content;
    height: min-content;
}

h3 {
    text-align: center;
    padding: 10px;

}

.orchestras {
    background-color: black;

}

.orchestras1 {
    gap: 50px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.phil {
    margin-top: 50px;
    background-color: white;
    text-align: justify;
    padding: 20px;
    width: 500px;
}


.phil:hover {
    transform: scale(1.1);

}



#philPic {
    display: none;
    box-shadow: 20px -20px red, -20px 20px white;
    position: relative;
    height: min-content;

}

.empty {
    display: block;
}

.symph {
    margin-top: 50px;
    background-color: white;
    text-align: right;
    text-align: justify;
    padding: 20px;
    width: 500px;


}

.symph:hover {
    transform: scale(1.1);

}

#symphPic {
    display: none;
    box-shadow: 20px -20px white, -20px 20px red;
    position: relative;
    height: min-content;


}



.orchestras2 {
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    justify-content: center;
    padding: 50px 0px;

}


.chmb2 {
    background-color: white;
    padding-right: 120px;
    text-align: justify;
    padding: 20px;
    width: 500px;
    margin-bottom: 50px;


}

.chmb2:hover {
    transform: scale(1.1);

}

#ch2Pic {
    display: none;
    box-shadow: 20px -20px red, -20px 20px white;
    position: relative;
    height: min-content;

}

.chmb1 {
    background-color: white;
    text-align: right;
    padding-left: 100px;
    text-align: justify;
    padding: 20px;
    width: 500px;
    margin-bottom: 50px;
}

.chmb1:hover {
    transform: scale(1.1);

}

#ch1Pic {
    display: none;
    box-shadow: 20px -20px white, -20px 20px red;
    position: relative;
    height: min-content;

}

td,
th {


    padding: 5px;
    background-color: rgb(247, 236, 236);
}

.officers {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.item {
    width: min-content;
    border: solid thin black;
    padding: 20px;
    margin: 10px;
}

.appear {
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(40px);
}

.appear.inview {
    opacity: 1;
    transform: none;
    transition-delay: 0.3s;
}


footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom: 0px;
    padding: 15px;
}