html {
    scroll-behavior: smooth;
}

body {
    background-color: #FCF3F1;
    /*rgb(202, 7, 7);  */
    z-index: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    margin: 0;
    padding: 0;
    width: 100%;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    z-index: 50;


}

h1 {
    padding-top: 50px;
    font-size: xxx-large;
    font-weight: bold;
}

.abt.text {
    padding: 30px 150px;

}



/* h2 {

    text-align: center;
    padding: 30px;
    background-color: rgb(1, 1, 1);
    color: white;
    border-radius: 15px;
    
} */



.png {
    display: none;
}

h2 {

    text-align: center;
    padding: 25px;
    background-color: #CA0707;
    color: white;
    height: 50px;
    margin-top: 0;
    font-size: xx-large;
    margin-bottom: 0;

}



.abt {
    margin-top: -10px;
    padding: 0px 10px;
    text-align: center;
    background-color: #16161d;
    color: white;

}


.director {

    /* border: 5px #000 solid; */
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    /* background-color: rgb(245, 211, 205); */
}


.directorbio {
    padding: 0px 30px;
    font-size: medium;
}


.directorimage {
    width: 20%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 0.5rem;
    box-shadow: 12px 9px 11px rgba(0, 0, 0, 0.5)  ; 
    -webkit-box-shadow: 12px 9px 11px rgba(0, 0, 0, 0.5)  ; 
    -moz-box-shadow: 12px 9px 11px rgba(0, 0, 0, 0.5)  ; 
    

}

#name {
    font-size: large;
    font-weight: bold;
}

h3 {
    text-align: center;
    padding: 10px;
    font-weight: bolder;

}

.orchestras {
    background-color: #16161d;

}

.orchestras1 {
    gap: 10vw;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.phil {
    margin-top: 50px;
    background-color: white;
    text-align: justify;
    padding: 20px;
    width: 500px;
    transition: all .4s ease-in-out;
    border-radius: 1rem;
   

}


.phil:hover {
    transform: scale(1.075);

}



#philPic {
    display: none;
    box-shadow: 20px -20px red, -20px 20px white;
    border-radius: 0.5rem;

    position: relative;
    width: 500px;
    height: min-content;
    margin-top: 50px;

    animation: fadeInAnimationPhil ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimationPhil {
    0% {
        transform: translateX(-20vw);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



#ghost1 {
    display: none;

}



.symph {
    margin-top: 50px;
    background-color: white;
    text-align: right;
    text-align: justify;
    padding: 20px;
    width: 500px;
    transition: all .4s ease-in-out;
    order: 2;
    border-radius: 1rem;


}

.symph:hover {
    transform: scale(1.075);

}

#symphPic {
    display: none;
    box-shadow: 20px -20px white, -20px 20px red;
    position: inherit;
    width: 500px;
    height: min-content;
    order: 1;
    margin-top: 75px;

    animation: fadeInAnimationSymph ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-radius: 0.5rem;
}

@keyframes fadeInAnimationSymph {
    0% {
        transform: translateX(20vw);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




.orchestras2 {
    gap: 10vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vw;
    justify-content: center;
    padding: 50px 0px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

}


.chmb2 {
    background-color: white;
    padding-right: 120px;
    text-align: justify;
    padding: 20px;
    width: 500px;
    margin-bottom: 50px;
    transition: all .4s ease-in-out;
    border-radius: 1rem;


}

.chmb2:hover {
    transform: scale(1.075);

}

#ch2Pic {
    display: none;
    box-shadow: 20px -20px red, -20px 20px white;
    position: relative;
    width: 500px;
    height: min-content;
    margin-top: 25px;

    animation: fadeInAnimationC2 ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-radius: 0.5rem;



}

@keyframes fadeInAnimationC2 {
    0% {
        transform: translateX(-20vw);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#ghost2 {
    display: none;

}


.chmb1 {
    background-color: white;
    text-align: right;
    padding-left: 100px;
    text-align: justify;
    padding: 20px;
    width: 500px;
    margin-bottom: 50px;
    transition: all .4s ease-in-out;
    order: 2;
    border-radius: 1rem;

}

.chmb1:hover {
    transform: scale(1.075);

}

#ch1Pic {
    display: none;
    box-shadow: 20px -20px white, -20px 20px red;
    position: relative;
    width: 500px;
    height: min-content;
    order: 1;
    margin-top: 50px;

    animation: fadeInAnimationC1 ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-radius: 0.5rem;


}

@keyframes fadeInAnimationC1 {
    0% {
        transform: translateX(20vw);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.council {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: large;
    text-align: justify;


}

td,
th {


    padding: 5px;
    background-color: #FCF3F1;
    border-bottom: 2px red solid;
    max-width: 200px;
}

.officers {
    margin-top: 50px;
    margin-bottom: 75px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-weight: 600;
    font-size: medium;

}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;


}






footer {

    color: white;
    background-color: #16161d;


}


@media only screen and (max-width: 1200px) {
    .symph {
        order: 1;
    }

    #symphPic {
        order: 2;
    }

    .chmb1 {
        order: 1;
    }

    #ch1 {
        order: 2;
    }
}


@media only screen and (max-width: 800px) {
    h1 {
        font-size: 40px;
    }

    p {
        font-size: small;
    }

    .svg {
        display: none;
    }

    .png {
        display: block;
    }



    .abt.text {
        padding: 0px 10px;
        padding-bottom: 50px;
    }
    

    .meyer {
       margin: 30px auto;

    }

    #name {
        text-align: center;
    }

    .director {
        flex-wrap: wrap;
        padding: 10px;
    }

    .meyerbio {
        padding: 0px 10px;

    }

    .orchestras2 {
        gap: 10px;
    }

    .orchestras1 {
        gap: 10px;
    }

    .phil {
        width: 350px;
        text-align: left;
        margin-bottom: 20px;
    }

    .phil:hover {
        transform: none;

    }


    #philPic {
        width: 350px;
        max-height: 260px;
        display: block;
        box-shadow: 10px -10px red, -10px 10px white;
        margin-top: 0px;
        margin-bottom: 40px;



    }

    .symph {
        width: 350px;
        text-align: left;
        order: 1;
        margin-bottom: 20px;


    }

    .symph:hover {
        transform: none;

    }

    #symphPic {
        order: 2;
        width: 350px;
        max-height: 260px;
        display: block;
        box-shadow: 10px -10px red, -10px 10px white;
        margin-top: 0px;
        margin-bottom: 30px;



    }

    @keyframes fadeInAnimationSymph {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }


    .chmb2 {
        width: 350px;
        text-align: left;
        margin-bottom: 20px;

    }

    .chmb2:hover {
        transform: none;

    }

    #ch2Pic {
        width: 350px;
        max-height: 280px;
        display: block;
        box-shadow: 10px -10px red, -10px 10px white;
        margin-top: 0px;
        margin-bottom: 80px;




    }

    .chmb1 {
        width: 350px;
        text-align: left;
        order: 1;
        margin-bottom: 20px;


    }

    .chmb1:hover {
        transform: none;

    }

    #ch1Pic {
        order: 1;
        width: 350px;
        max-height: 280px;
        display: block;
        box-shadow: 10px -10px red, -10px 10px white;
        margin-top: 0px;


    }

    @keyframes fadeInAnimationC1 {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .council {
        margin-top: 50px;
        margin-left: 25px;
        margin-right: 25px;
        font-size: large;
        text-align: justify;
    }

    .officers {
        font-size: small;

    }

    .title {
        margin: 0px;
        font-size: 3vw;
        padding: 0px;
    }






}

@media only screen and (min-width: 1150px) {


    #ghost1 {
        width: 100px;
        height: 100px;
    }

    #ghost2 {
        width: 100px;
        height: 100px;


    }

    h1 {
        margin-top: 5%;
    }

    .abt {
        margin-bottom: 5%;
        line-height: 2vw;
    }




}