body {
    background-color: rgb(202, 7, 7);
    z-index: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 30px;
    color: white;

}

.cal {
    display: flex;
    justify-content: center;
    padding: 25px;


}

footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    width: 100%;
    bottom: 0px;
    padding: 15px;
}