body {
    background-color: #CA0707;
    z-index: 0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

html,
body {
    width: 100%;
    overflow-x: hidden;

}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.container {
    margin-top: 0px;
    padding-top: 10px;

    text-align: center;
    background-color: #16161d;
    color: white;
}

h1 {
    padding: 50px;
    font-size: xxx-large;

}

a {
    text-decoration: none;
    color: black;
}

a:link,
a:visited {
    padding: 5px;
    color: black;
    transition: all .3s ease-in;
}

a:hover {
    color: red;
}


.contact {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
    background-color: #FCF3F1;

}

.contact-a {


    padding: 25px;
    color: black;
    text-decoration: none;
    text-align: center;


}

.contact-b {

    padding: 25px;

    color: black;
    text-decoration: none;


}

td {
    padding-right: 10px;
    padding-bottom: 10px;
}



.message {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 10px;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;


}

input {
    height: 25px;
    font-family: 'Montserrat', sans-serif;

}

.name {
    padding-bottom: 5px;
}

.email {
    padding-bottom: 5px;
}

.message {
    padding-bottom: 5px;

}

.subject {
    padding-bottom: 5px;

}

input[type="text"],
textarea {
    color: rgb(0, 0, 0);
    background-color: #FCF3F1;
    font-family: 'Montserrat', sans-serif;


}

h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#contact {
    display: flex;
    justify-content: center;
}




.png {
    display: none;
}



h3 {
    font-size: 1.5vw;
    margin: 0px;
    padding: 5px;
}

.content {
    margin: 0px;
}

#rights {
    text-align: center;
    padding-top: 20px;
    margin: 0px;
}

footer {
    padding-top: 10px;
    background-color: #FCF3F1;
    height: max-content;
    font-weight: lighter;
    bottom: 0px;
    padding: 15px;
    margin: 0px;

}


@media screen and (max-width: 640px) {

    body {
        background-color: #CA0707;

    }

    .contact {
        display: flex;
        flex-direction: column;


    }

    .contact-a {
        margin-left: auto;
        margin-right: auto;
    }

    .contact-b {
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        margin: 0px;
        font-size: 3vw;
        padding: 0px;
    }

    .content {
        margin: 0px;
        font-size: 2.5vw;
    }

    #rights {
        font-size: 2.5vw;

    }


    .svg {
        display: none;
    }

    .png {
        display: block;
    }



}