body {
    background-color: #16161d;
    z-index: 0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

html,
body {
    width: 100%;
    overflow-x: hidden;

}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.mobile{
    display: none;
}

.svg1{
    display: none;
}



h1 {
    padding: 50px;
    font-size: xxx-large;

}

a {
    text-decoration: none;
    color: black;
}

a:link,
a:visited {
    padding: 5px;
    color: black;
    transition: all .3s ease-in;
}

a:hover {
    color: red;
}


.contact {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 4.5rem;
    background-color: #16161d;
    margin-top: 4.5rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    
    

}
input{
    border-width: .15rem;
    border-color: black;
    border-style: solid;
    border-radius: .2rem;
}


.contact-b {
    display: block;
padding-top: 1rem;
    color: black;
    text-decoration: none;
    background: white;
    border-radius:.5rem;padding:.5rem;width: 35rem;
    margin-top: .5rem;;


}
table{
    margin:auto;
}
td {
    padding-right: 10px;
    padding-bottom: 10px;

}



.message {
  
    background-color:white;
    border-radius: .5rem;
    padding: 1rem;
    padding-top: .5rem;
    padding-bottom: 5px;


}

input {
    font-size: medium;
    height: 25px;
    font-family: 'Montserrat', sans-serif;

}

.name {
    padding-bottom: 5px;
}

.email {
    padding-bottom: 5px;
}


.subject {
    padding-bottom: 5px;

}

input[type="text"],
textarea {
    color: rgb(0, 0, 0);
    background-color: #ffebe6;
    font-family: 'Montserrat', sans-serif;


}

h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}





.png {
    display: none;
}



footer {
    background-color: #FCF3F1;


}


@media screen and (max-width: 640px) {
   
    body{
        background-color: #CA0707;
    }

    .desktop{
        display: none;
    }

  

    .mobile{
        display: block;
    }

    .container {
        margin-top: 0px;
        padding-top: 10px;
    
        text-align: center;
        background-color: #16161d;
        color: white;
    }
    
    h1 {
        padding: 50px;
        font-size: xxx-large;
    
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    a:link,
    a:visited {
        padding: 5px;
        color: black;
        transition: all .3s ease-in;
    }
    
    a:hover {
        color: red;
    }
    
    
    .contact {
        display: flex;
        justify-content: space-around;
        padding-bottom: 100px;
        background-color: #FCF3F1;
        margin-top: -40px;
    
    }
    
    .contact-a {
    
    
        padding: 25px;
        color: black;
        text-decoration: none;
        text-align: center;
    
    
    }
    
    .contact-b {
    
        padding: 25px;
    
        color: black;
        text-decoration: none;
    
    
    }
    
    td {
        padding-right: 10px;
        padding-bottom: 10px;
    
    }
    
    
    
    .message {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-top: 50px;
        width: min-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    
    
    }
    
    input {
        height: 25px;
        font-family: 'Montserrat', sans-serif;
    
    }
    
   
    input[type="text"],
    textarea {
        color: rgb(0, 0, 0);
        background-color: #ffebe6;
        font-family: 'Montserrat', sans-serif;
    
    
    }
    
    h2 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    
    

   

    #rights {
        font-size: 2.5vw;

    }


    .svg {
        display: none;
    }

    .png {
        display: block;
    }



}

@media screen and (max-width: 380px) {
    td {
        font-size: 4vw;

    }



}

@media screen and (max-width: 1400px) {
   .svg1{
    display: block;
   }

   .svg2{
    display: none;
   }


}