body{
    background-color: rgb(250, 76, 76);
    z-index: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
   padding: 25px;

}

.contact{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.contact-a{
    position: relative;
   
    padding: 25px;
    color: black;
    text-decoration: none;
    background-color:antiquewhite;
    
}   

.contact-b{
    position: relative;
    padding: 25px;

    color: black;
    text-decoration: none;
    background-color: antiquewhite;
    
}

.message{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 30px;
    margin-top: 70px;
    width: min-content;
    margin-left: auto;
    margin-right: auto;

}

h2{
    margin-left: auto;
    margin-right: auto;
}

footer{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: -10px;
    width: 102%;
    bottom: 0px;
    padding: 15px;
}