#contact {
    display: flex;
    justify-content: center;
}


h3 {
    font-size: 1.5vw;
    margin: 0px;
    padding: 5px;
}

.content {
    font-size: 1.25vw;
    margin: 0px;

}

#rights {
    font-size:1.25vw;
    margin: 0px;
}

#mobile-rights{
    display: none;
}

footer {
    padding-top: 10px;
    height: auto;
    bottom: 0px;
    padding: 15px;
    margin: 0px;

}

@media screen and (max-width: 600px) {

    h3 {
        margin: 0px;
        font-size: 3vw;
        padding: 0px;
    }

    .content {
        margin: 0px;
        font-size: 2.5vw;
    }

    #rights {
        display: none;

    }

   #mobile-rights{
    display: block;
    font-size: 2.5vw;

   }

}