#contact {
    display: flex;
    justify-content: center;
}


h3 {
    font-size: 1.5vw;
    margin: 0px;
    padding: 5px;
}

.content {
    font-size: 1.25vw;
    margin: 0px;

}

#rights {
    text-align: center;
    padding-top: 20px;
    margin: 0px;
}

footer {
    padding-top: 10px;
    height: max-content;
    bottom: 0px;
    padding: 15px;
    margin: 0px;

}

@media screen and (max-width: 600px) {

    h3 {
        margin: 0px;
        font-size: 3vw;
        padding: 0px;
    }

    .content {
        margin: 0px;
        font-size: 2.5vw;
    }

    #rights {
        font-size: 2.5vw;

    }

}