body {
    background: linear-gradient(to bottom,
            white 5%,
            black 5%,
            black 95%);
    z-index: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    padding: 0px 10px;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    padding: 50px;
    font-size: xxx-large;

}

#gallery {
    padding-top: 50px;
    line-height: 0;
    -webkit-column-count: 4;
    /* split it into 5 columns  */
    -webkit-column-gap: 5px;
    /* give it a 5px gap between columns  */
    -moz-column-count: 4;
    -moz-column-gap: 5px;
    column-count: 4;
    column-gap: 5px;
    margin-left: auto;
    margin-right: auto;

}

#gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px;
    /* to match column gap */
}

@media screen and (max-width: 640px) {

    #gallery {
        padding-top: 50px;
        line-height: 0;
        -webkit-column-count: 2;
        /* split it into 5 columns  */
        -webkit-column-gap: 5px;
        /* give it a 5px gap between columns  */
        -moz-column-count: 2;
        -moz-column-gap: 5px;
        column-count: 2;
        column-gap: 5px;
        margin-left: auto;
        margin-right: auto;

    }

    #gallery img {
        width: 100% !important;
        height: auto !important;
        margin-bottom: 5px;
        /* to match column gap */
    }
}


footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom: 0px;
    padding: 15px;
    color: red;
}