body {
    background: linear-gradient(to bottom,
            white 5%,
            black 5%,
            black 95%);
    z-index: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 0px 10px;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    padding: 50px;
    font-size: xxx-large;

}

/* #gallery {
    /* padding-top: 100px;
    line-height: 0; */
/* -webkit-column-count: 4; */
/* split it into 5 columns */
/* -webkit-column-gap: 5px; */
/* give it a 5px gap between columns */
/* -moz-column-count: 4;
    -moz-column-gap: 5px; */
/* column-count: 4;
    column-gap: 5px;
    margin-left: auto;
    margin-right: auto; */

/*  */


/* #gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px;
    /* to match column gap */
/* } */


/* (A) GALLERY CONTAINER */
/* (A1) ON BIG SCREENS */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* 3 IMAGES PER ROW */
    grid-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    /* HORIZONTAL CENTER */
}

/* (A2) ON SMALL SCREENS */
@media screen and (max-width: 640px) {
    .gallery {
        grid-template-columns: repeat(2, auto);
        /* 2 IMAGES PER ROW */
    }
}

/* (B) THUMBNAILS */
.gallery img {
    width: 100%;
    height: 200px;
    /* FILL, CONTAIN, COVER, SCALE-DOWN : USE WHICHEVER YOU LIKE */
    object-fit: cover;
}

.gallery img:fullscreen {
    object-fit: contain;
}


footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom: 0px;
    padding: 15px;
}