body {
    background: linear-gradient(to bottom,
            white 30px,
            white 0%,
            black 0%,
            black 100%);
    z-index: 0;
}

h1 {
    color: white;
    padding-top: 35px;
    font-size: xxx-large;
    text-align: center;
}

#gallery {
    padding-top: 100px;
    line-height: 0;
    -webkit-column-count: 4;
    /* split it into 5 columns */
    -webkit-column-gap: 5px;
    /* give it a 5px gap between columns */
    -moz-column-count: 4;
    -moz-column-gap: 5px;
    column-count: 4;
    column-gap: 5px;
    margin-left: auto;
    margin-right: auto;

}


#gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px;
    /* to match column gap */
}

footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: -10px;
    width: 102%;
    bottom: 0px;
    padding: 15px;
}