body{
    background-color: rgb(250, 76, 76);
}

.logo{
    height: 5%;
    width: 10%;
    padding: 3px;
   
}

.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}

.btn{
    padding: 5px 15px;
    border:5px solid black;
    margin: 0 10px 10px 0;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;
    color: white;
    text-align: center;
    background-color: black;
}

.btn:hover{
    background-color: rgb(219, 219, 219);
    border-radius: 5px 5px 0px 0px;
}

a:visited { 
    color: white; 
    text-decoration: none; 
   }

