@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #16161d;
    /* rgb(202, 7, 7); */
    z-index: 0;
    margin: 0;
    padding: 0;
    width: 100%;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#preview {
    position: absolute;
    display: flex;
    justify-content: center;
}

.header {
    position: sticky;
    top: 20px;
    z-index: 50;
    text-align: right;
    font-size: 2vw;
    font-weight: lighter;
    width: 100%;
    height: max-content;
}

a:link,
a:visited {
    padding: 5px;
    color: white;
    transition: all .3s ease-in;
}

a:hover {
    color: red;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 {
    padding: 50px;
    font-size: xxx-large;

}

.content {
    top: -10vw;
}




h2 {

    text-align: center;
    padding: 25px;
    background-color: rgb(202, 7, 7);
    color: white;
    height: 50px;
    margin-top: 0;
    font-size: xx-large;
    margin-bottom: 0;

}


.year22 {
    color: white;
    display: flex;
    flex-direction: column;

}

.pic22 {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: 50px;

}


a {
    text-decoration: none;
    color: white;
}


.viewbtn {
    border: none;
    background: #e21835;
    font-size: 3vw;
    border: 5px;
    border-radius: 5px;
    transform: scale(1);
    display: table;
    margin: 0 auto;
    transition: all .3s ease-in;
}

.viewbtn:hover {
    transform: scale(1.05);
    color: white;
    transition: all .3s ease-in-out;
}

.logo22 {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}





#contact {
    display: flex;
    justify-content: center;
}




h3 {
    font-size: 1.5vw;
    margin: 0px;
    padding: 5px;
}

.content {
    margin: 0px;
}

#rights {
    text-align: center;
    padding-top: 20px;
    margin: 0px;
}

footer {
    padding-top: 10px;
    background-color: #FCF3F1;
    height: max-content;
    font-weight: lighter;
    bottom: 0px;
    padding: 15px;
    margin: 0px;

}

@media screen and (max-width: 800px) {



    .logo22 {
        width: 350px;

    }




    h3 {
        margin: 0px;
        font-size: 3vw;
        padding: 0px;
    }

    .content {
        margin: 0px;
        font-size: 2.5vw;
    }

    #rights {
        font-size: 2.5vw;

    }

    #preview {
        margin-top: 12vw;
    }

    .content {
        top: 5vw;
    }




}