body {
    background: linear-gradient(to bottom,
            white 3%,
            black 5%,
            black 95%);
    z-index: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;


}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    padding: 0px 10px;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    padding: 50px;
    font-size: xxx-large;

}




.slider {
    width: 1200px;
    height: 500px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.slides {
    width: 400%;
    height: 400px;
    margin-left: -100%;
    display: flex;
}

.slides input {
    display: none;


}

.slide {
    width: 15%;
    transition: 1s;

}

.slide img {
    height: 400px;
    width: auto;

    filter: brightness(100%);

}

.slide iframe {
    height: 400px;
    width: 100%;

    filter: brightness(100%);

}

/* manual-nav */
.navigation-manual {
    position: relative;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;

}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background: rgb(255, 0, 0);
}



#radio1:checked~.first {
    margin-left: 30%;

}

#radio2:checked~.first {
    margin-left: 15%;
}



#radio3:checked~.first {
    margin-left: 0%;
}



h2 {

    text-align: center;
    padding: 25px;
    background-color: rgb(202, 7, 7);
    color: white;
    height: 50px;
    margin-top: 0;
    font-size: xx-large;
    margin-bottom: 0;

}


.year22 {
    color: white;

}

.pic {
    text-align: center;
    padding: 200px;

}


a {
    color: white;


}

.btn {
    width: fit-content;
    padding: 15px;
    border: 3px double red;

    transition: all 0.4s ease-in-out;
}

.btn:hover {
    background-color: white;
    color: black;

}

@media screen and (max-width: 500px) {
    .slider {
        width: 400px;
        height: 350px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }

    .slides {
        width: 350%;
        height: 400px;
        margin-left: -100%;
        display: flex;
    }

    .slides input {
        display: none;


    }

    .slide {
        width: 30%;
        transition: 1s;

    }

    .slide img {
        height: auto;
        width: 400px;

        filter: brightness(100%);

    }

    .slide iframe {
        width: 400px;
        height: 250px;
        filter: brightness(100%);

    }

    /* manual-nav */
    .navigation-manual {
        position: relative;
        margin-top: -125px;
        display: flex;
        justify-content: center;
    }



    .manual-btn:not(:last-child) {
        margin-right: 10px;
    }

    .manual-btn:hover {
        background: rgb(255, 0, 0);
    }



    #radio1:checked~.first {
        margin-left: 28%;

    }

    #radio2:checked~.first {
        margin-left: -1%;
    }



    #radio3:checked~.first {
        margin-left: -32%;
    }


}



footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom: 0px;
    color: red;
    padding: 15px;
}