@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #16161d;
    /* rgb(202, 7, 7); */
    z-index: 0;
    margin: 0;
    padding: 0;
    width: 100%;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#preview{
    position: absolute;
    top:-20px;
}
.header{
    position: sticky;
    top:20px;
    z-index: 50;
    text-align: right;
    font-size: 2vw;
    font-weight: lighter;
    width: 100%;
    height: max-content;
}

a:link, a:visited {
    padding: 5px;
    color: white;
    transition: all .3s ease-in;
  }
a:hover{
    color: red;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 {
    padding: 50px;
    font-size: xxx-large;

}

.slider {
    width: 1200px;
    height: 500px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

}

.slides {
    width: 100%;
    height: auto;
    margin-left: -65%;
    display: flex;
}

.slides input {
    display: none;


}

.slide {
    width: 100%;
    transition: 1s;

}

.slide img {
    height: 400px;
    width: auto;
    filter: brightness(100%);
    transition: 1s;

}

.slide iframe {
    height: 400px;
    width: 600px;

    filter: brightness(100%);

}

/* manual-nav */
.navigation-manual {
    position: relative;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;

}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background: rgb(255, 0, 0);
}



#radio1:checked~.first {
    margin-left: 85%;

}

#radio2:checked~.first {
    margin-left: 45%;
}



#radio3:checked~.first {
    margin-left: 22%;
}

#radio4:checked~.first {
    margin-left: 0%;
}

#radio5:checked~.first {
    margin-left: -22%;
}

#radio6:checked~.first {
    margin-left: -60%;
}

#radio7:checked~.first {
    margin-left: -115%;
}



h2 {

    text-align: center;
    padding: 25px;
    background-color: rgb(202, 7, 7);
    color: white;
    height: 50px;
    margin-top: 0;
    font-size: xx-large;
    margin-bottom: 0;

}


.year22 {
    color: white;
    display: flex;
    flex-direction: column;

}

.pic22 {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: 50px;

}


a {
    color: white;


}

.viewbtn{
    border: none;
    background: #e21835;
    font-size: 3vw;
    border: 5px;
    border-radius: 5px;
    transform: scale(1);
    display: table;
    margin: 0 auto;
    transition: all .3s ease-in;
}
.viewbtn:hover{
    transform: scale(1.05);
    color: white;
    transition: all .3s ease-in-out;
}

.logo22 {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

@media screen and (max-width: 800px) {

    #full {
        display: none;
    }

    #choir {
        display: none;
    }

    .slider {
        width: 400px;
        height: 550px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }

    .slides {
        width: 300%;
        height: auto;
        margin-left: -100%;
        display: flex;
    }

    .slides input {
        display: none;


    }

    .slide {
        width: 20%;
        transition: 1s;

    }

    .slide img {
        height: auto;
        width: 300px;

        filter: brightness(100%);

    }

    .slide iframe {
        width: 350px;
        height: 480px;
        margin-left: 60px;
        filter: brightness(100%);

    }

    /* manual-nav */
    .navigation-manual {
        position: relative;
        margin-top: -10px;
        display: flex;
        justify-content: center;
    }



    .manual-btn:not(:last-child) {
        margin-right: 10px;
    }

    .manual-btn:hover {
        background: rgb(255, 0, 0);
    }



    #radio1 {
        display: none;


    }

    .radio1 {
        display: none;
    }

    #radio2:checked~.first {
        margin-left: 40%;
    }


    #radio3:checked~.first {
        margin-left: 20%;
    }

    #radio4:checked~.first {
        margin-left: 0%;
    }

    #radio5:checked~.first {
        margin-left: -40%;
    }

    #radio6:checked~.first {
        margin-left: -70%;
    }

    #radio7 {
        visibility: hidden;
    }

    .radio7 {
        display: none;
    }

    .logo22 {
        width: 350px;

    }

}



footer {
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom: 0px;
    color: red;
    padding: 15px;
}