.header2 {
  display: none;
}

.header1 {
  top: 0;
  position: fixed;
  z-index: 50;
  font-size: 1.8vw;
  display: flex;
  justify-content: right;
  font-weight: lighter;
  width: 100%;
  height: max-content;
  padding-top: 1vw;
  padding-bottom: 1vw;

}


.headerbg {
  top: 0;
  position: fixed;
  background-color: #16161d;
  height: 4.5vw;
  width: 100%;
  z-index: 2;
  opacity: 0;

}

.navLogo {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
  height: 33px;
  width: 113px;
  position: relative;
  display: inline-block;

}

.colorLogo {
  opacity: 0;
  padding-top: 4px;
  padding-left: 4px;
  height: 35px;
  width: 115px;
  position: absolute;
  left: 0px;
  transition: all .5s ease-in-out;




}


.home {
  font-size: 2vw;
  flex-grow: 2;
  margin-left: 20px;


}







.nav {
  text-decoration: none;
  color: white;
}

.nav:link,
.nav:visited {
  padding: 5px;
  color: white;
  transition: all .3s ease-in;
}

.nav:hover {
  color: red;
}




.tab {
  z-index: 5;
}




@media screen and (max-width: 800px) {
  .header1 {
    display: none;
  }

  .header2 {
    text-decoration: none;
    display: flex;
    position: fixed;
    z-index: 50;
    justify-content: space-around;
    font-size: 2vw;
    font-weight: lighter;
    width: 100%;
    top: 0.5vw;
    height: max-content;
  }

  .headerbg {
    position: fixed;
    background-color: #16161d;
    height: 12vw;
    width: 100%;
    z-index: 2;


  }

  .home {
    font-size: x-large;
    flex-grow: 2;
    margin-left: 20px;

  }

  .share {
    width: 23px;
    padding: 4px 10px;
    margin-top: 5px;

  }


  /* Dropdown Button */
  .menu {
    width: 25px;
    padding-right: 25px;
    padding-bottom: 2px;

  }

  /* Dropdown button on hover & focus */
  .dropbtn:hover,
  .dropbtn:focus,

  .share:hover,
  .share:focus {
    background-color: none;
    opacity: 0.75;

  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: medium;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(211, 204, 204)
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
  }


}

@media screen and (max-width: 500px) {
  .title {
    text-decoration: none;
    font-size: medium;
    color: black;
    padding-left: 5px;
    padding-top: 3px;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
  }
}