.header2 {
  display: none;
}

.header1 {
  top: 0;
  position: fixed;
  z-index: 50;
  font-size: 1.8vw;
  display: flex;
  justify-content: right;
  font-weight: lighter;
  width: 100%;
  height: max-content;
  padding-top: 1vw;
  padding-bottom: 1vw;

}


.headerbg {
  top: 0;
  position: fixed;
  background-color: #16161d;
  height: 4.5vw;
  width: 100%;
  z-index: 2;
  opacity: 0;

}

.navLogo {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
  height: 33px;
  width: 113px;
  position: relative;
  display: inline-block;

}

.colorLogo {
  opacity: 0;
  padding-top: 4px;
  padding-left: 4px;
  height: 35px;
  width: 115px;
  position: absolute;
  left: 0px;
  transition: all .5s ease-in-out;




}


.home {
  font-size: 2vw;
  flex-grow: 2;
  margin-left: 20px;


}


.list {
  display: flex;
  gap: 2.5vw;
}




.nav {
  text-decoration: none;
  color: white;
}

.nav:link,
.nav:visited {
  padding: 5px;
  color: white;
  transition: all .3s ease-in;
}

.nav:hover {
  color: red;
}




.tab {
  z-index: 5;
}




@media screen and (max-width: 600px) {
  .header1 {
    display: none;
  }

  .header2 {
    text-decoration: none;
    display: flex;
    position: fixed;
    z-index: 100;
    justify-content: space-around;
    font-size: 2vw;
    font-weight: lighter;
    width: 100%;
    top: 0.5vw;
    height: max-content;
  }

  .headerbg {
    position: fixed;
    background-color: #16161d;
    height: 12vw;
    width: 100%;
    z-index: 2;


  }

  .home {
    font-size: x-large;
    flex-grow: 2;
    margin-left: 20px;

  }

  .share {
    width: 23px;
    padding: 4px 10px;
    margin-top: 5px;
    z-index: 500;


  }

  .menu {
    width: 25px;
    padding-right: 25px;
    padding-bottom: 2px;


  }


  /* NEW MENU */
  .menu-btn {
    top: -13px;
    margin-right: 25px;
    display: flex;
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    /* border: 3px solid white; */

    z-index: 100;

  }

  .menu-btn__burger {

    margin-top: auto;
    margin-bottom: auto;
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn__burger::before {
    transform: translateY(-8px);
  }

  .menu-btn__burger::after {
    transform: translateY(8px);
  }

  .menu-btn.open .menu-btn__burger {
    transform: translateX(-20px);
    background: transparent;

  }

  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(10px, -10px);
  }

  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(10px, 10px);
  }






  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;


  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    top: -25px;
    right: 0;
    background-color: #16161d;
    min-width: 40vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    height: 100vh;
    filter: brightness(1);


  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
    text-align: center;

    font-size: large;



  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(211, 204, 204);
    color: black;
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;

    animation: dropDown ease 1.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

  }

  .transparent {
    display: none;
    z-index: 9;
    top: -25px;
    position: absolute;
    justify-content: left;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #16161d;
  }

  .transparent.open {
    display: block;

    animation: dark ease 1.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes dark {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.5;
    }


  }





  @keyframes dropDown {
    0% {
      transform: translateX(20vw);
      opacity: 0;
    }

    100% {
      opacity: 1;
    }


  }


}

@media screen and (max-width: 380px) {
  .home {
    font-size: 7vw;

  }

  .share {
    width: 21px;
    padding: 4px 10px;
    margin-top: 5px;

  }


  /* Dropdown Button */
  .menu {
    width: 23px;
    padding-right: 25px;
    padding-bottom: 2px;

  }


}