
.tab{
    background-color: rgb(253, 251, 251); 
    /* opacity: 0.5; filter: alpha(opacity=50); */
    display: flex;
    justify-content:space-between;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* .logo{
    height: 8%;
    width: 12%;
    padding: 3px;
   
} */


/* .btn{ */
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
/* } */
.title{
    font-size: larger;
}
.icons{
    flex-direction: row;
    right:0;
}
.share{
    width: 30px;
    height: 28px;
}
.menu{
    width: 30px;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: none; opacity: 0.5;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

/* .button{
  
    padding: 5px 15px;
    border:5px solid black;
    margin: 0 10px 10px 0;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;
    color: white;
    text-align: center;
    background-color: black;
}

.button:hover{
    background-color: rgb(219, 219, 219);
    border-radius: 5px 5px 0px 0px;
    color:black;
}

a:visited { 
    color: white; 
    text-decoration: none; 
   } */