
.tab{
    background-color: rgb(253, 251, 251); 
    /* opacity: 0.5; filter: alpha(opacity=50); */
    display: flex;
    justify-content:space-between;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* .logo{
    height: 8%;
    width: 12%;
    padding: 3px;
   
} */


/* .btn{ */
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
/* } */
.title{
    text-decoration: none;
    font-size: large;
    color: black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.icons{
    flex-direction: column;
    right:0;
}
.share{
    width: 20px;
    height: 20px;
    padding: 4px 10px;
}

.tab{
  z-index: 5;
}
/* Dropdown Button */
.menu{
  width: 28px;
  padding-right: 10px;
}

  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus, .share:hover, .share:focus{
    background-color: none; opacity: 0.5;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(211, 204, 204)}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

