body {
    z-index: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    background: linear-gradient(to bottom,
            white 5%,
            white 25%,
            rgb(202, 7, 7) 95%);


    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.container {
    padding: 0px 10px;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    padding: 50px;
    font-size: xxx-large;

}

h2 {
    padding: 15px;
}

.main {
    height: 700px;
}

footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom: 0px;
    padding: 15px;
}