

body{
    background-color: rgb(250, 76, 76);
}
.tab{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.logo{
    height: 8%;
    width: 12%;
    padding: 3px;
   
}

.title{
    font-size: 45px;
    text-align: center;
    padding: 10px 15px;
}


.btn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.button{
  
    padding: 5px 15px;
    border:5px solid black;
    margin: 0 10px 10px 0;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;
    color: white;
    text-align: center;
    background-color: black;
}

.button:hover{
    background-color: rgb(219, 219, 219);
    border-radius: 5px 5px 0px 0px;
    color:black;
}

a:visited { 
    color: white; 
    text-decoration: none; 
   }

#short.about{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px 5px;
}
.smallGallery{
    margin: 0;
    padding: 0;
    height: 450px;
    display: flex;
    background: black;
   justify-content: center;
   align-items: center;
}

.slider{
    width: 800px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none
}

.slide{
    width: 25%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 450px;
}

/* manual-nav */
.manual-nav{
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-top: -40px;

}

.manual-btn{
    border: 2px solid rgb(66, 241, 247);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 10px;
}

.manual-btn:hover{
    background: rgb(235, 255, 52);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

#radio5:checked ~ .first{
    margin-left: -100%;
}

#radio6:checked ~ .first{
    margin-left: -125%;
}

#radio7:checked ~ .first{
    margin-left: -150%;
}