body {
    background: linear-gradient(to bottom,
            white 0%,
            white 70%,
            black 70%,
            black 100%);
    /* rgb(202, 7, 7); */
    z-index: 0;
    margin: 0;
    padding: 0;
    width: 100%;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.front_pic {
    position: relative;
    width: 100%;
    margin-left: 0;
    border: 0;
    padding: 0;
    margin-top: 30px;
    filter: brightness(60%);
}



.logo {
    position: absolute;
    border: 0;
    top: 15%;
    width: 40%;





}

.box {
    display: flex;
    justify-content: center;
    /* opacity: 80%; */
}

.appear2 {
    transition: all 1.5s;
    transform: scale(1.2);
}

.appear2.inview {
    transform: none;
    transition-delay: 0.01s;
}



#short {
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;

}

.about {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;

}

.appear {
    transition: all 1.5s;
    opacity: 1;
    transform: translateY(250px);
}

.appear.inview {
    opacity: 1;
    transform: none;
    transition-delay: 0.0025s;
}

.smallGallery {
    margin: 0;
    width: 100%;
    padding: 50px 0px;
    height: 510px;
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
}

figure {
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;


}

#border {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 800px;
    height: auto;
    padding: 20px;
    padding-bottom: 5px;
    border: solid 3px white;
    transition: border-width 0.3s linear;
}

#border:hover {
    border-width: 10px;
    border-color: red;
}

.slider {
    width: 700px;
    height: 540px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;


}

.slide {
    width: 25%;
    transition: 1s;

}

.slide img {
    width: 700px;
    height: auto;
    filter: brightness(100%);

}

/* manual-nav */
.navigation-manual {
    position: relative;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;

}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background: rgb(255, 0, 0);
}


#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -100%;
}

#radio6:checked~.first {
    margin-left: -125%;
}

#radio7:checked~.first {
    margin-left: -150%;
}

#radio8:checked~.first {
    margin-left: -175%;
}

/* ON SMALL SCREENS */
@media screen and (max-width: 1000px) {
    body {
        background: linear-gradient(to bottom,
                white 0%,
                white 70%,
                black 70%,
                black 100%);
    }

    .logo {
        position: absolute;
        border: 0;
        top: 8%;
        width: 50%;
    }


    .about {
        font-size: small;
        width: 80%;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;

    }

    #border {
        display: flex;
        justify-content: center;
        width: auto;
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 5px;
        padding-left: 5px;

        border: solid 3px white;
    }

    #border:hover {
        border-width: 3px;
        border-color: white;
    }


    .slider {
        width: 450px;
        height: auto;
        overflow: hidden;
    }

    .slides {
        width: 700%;
        height: auto;
        display: flex;
    }

    .slide {
        width: 15%;
        transition: 1s;

    }

    .slide img {
        width: 450px;
        height: auto;
        filter: brightness(100%);
    }

    #radio2:checked~.first {
        margin-left: -14.25%;
    }

    #radio3:checked~.first {
        margin-left: -30%;
    }

    #radio4:checked~.first {
        margin-left: -45%;
    }

    #radio5:checked~.first {
        margin-left: -60%;
    }

    #radio6:checked~.first {
        margin-left: -75%;
    }

    #radio7:checked~.first {
        margin-left: -90%;
    }

    #radio8:checked~.first {
        margin-left: -105%;
    }

}



footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom: 0px;
    padding: 15px;
    color: red;
}