

body{
    background-color: rgb(250, 76, 76);
    z-index: 0;
}

.front_pic{
    position: relative;
    width: 100%;
    left: 0;
}

.logo{
    position: absolute;
    border: 0;
    top: 10%;
    width: 45%
}
.img{
    display: flex;
    justify-content: center;
    opacity: 80%;
}

#short.about{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    background-color:white;
    border-radius: 15px;
}
.smallGallery{
    margin: 0;
    padding: 0;
    height: 510px;
    display: flex;
    background: black;
   justify-content: center;
   align-items: center;
}

.slider{
    width: 800px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none
}

.slide{
    width: 25%;
    transition: 1s;
}

.slide img{
    width: 800px;
    height: 450px;
}

/* manual-nav */
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
  }

.manual-btn:not(:last-child){
    margin-right: 10px;
}

.manual-btn:hover{
    background: rgb(235, 255, 52);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -100%;
}

#radio6:checked ~ .first{
    margin-left: -125%;
}

#radio7:checked ~ .first{
    margin-left: -150%;
}

#radio8:checked ~ .first{
    margin-left: -175%;
}