body {
    background: linear-gradient(to bottom,
            white 0%,
            white 45%,
            black 45%,
            black 100%);
    /* rgb(202, 7, 7); */
    z-index: 0;
    margin: 0;
    padding: 0;
    width: 100%;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.front_pic {
    position: relative;
    width: 100%;
    margin-left: 0;
    border: 0;
    padding: 0;
    margin-top: 30px;
}



.logo {
    position: absolute;
    border: 0;
    top: 10%;
    width: 45%
}

.img {
    display: flex;
    justify-content: center;
    opacity: 80%;
}


#short.about {
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.smallGallery {
    margin: 0;
    width: 100%;
    padding: 0;
    height: 510px;
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 700px;
    height: 500px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none
}

.slide {
    width: 25%;
    transition: 1s;
}

.slide img {
    width: 700px;
    height: 450px;
}

/* manual-nav */
.navigation-manual {
    position: relative;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background: rgb(255, 0, 0);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -100%;
}

#radio6:checked~.first {
    margin-left: -125%;
}

#radio7:checked~.first {
    margin-left: -150%;
}

#radio8:checked~.first {
    margin-left: -175%;
}



footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom: 0px;
    padding: 15px;
    color: red;
}