body {
    z-index: 0;
    background: linear-gradient(to bottom,
            rgb(202, 7, 7)20%,
            #16161d 40%,
            #16161d 80%,

            rgb(202, 7, 7) 85%);
    font-family: 'Montserrat', sans-serif;
    margin: 0;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    text-align: center;
    padding-top: 4rem;
    color: white;
    background-color: #16161d;

}

.container.two {

    background-color: #FCF3F1;
    padding-bottom: 50px;
}

h1 {
    padding: 50px;
    padding-top: 100px;
    font-size: xxx-large;


}




h2 {

    text-align: center;
    padding: 30px;
    background-color: rgb(202, 7, 7);
    color: white;
    height: 50px;
    font-size: xx-large;

}


td,
th {


    padding: 15px;
    background-color: #FCF3F1;
    width: 800px;
    vertical-align: top;

}

li {
    padding-bottom: 0.5vw;
}



.members {

    display: flex;
    padding-bottom: 50px;
    width: 90%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-weight: 600;
    font-size: 1.5vw;


}

.membersMob,
.second {
    display: none;
}

.pdf {
    margin-top: 50px;
    margin-bottom: 50px;

}

a {
    text-decoration: none;
    color: white;
}


.btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 5px;
    border: none;
    background: #e21835;
    font-size: 2.5vw;
    border: 5px;
    border-radius: 5px;
    transform: scale(1);
    display: table;
    margin: 0 auto;
    transition: all .3s ease-in;

}




.btn:hover {
    transform: scale(1.05);
    color: white;
    transition: all .3s ease-in-out;
}



.png {
    display: none;
}



footer {
    background-color: #16161d;
    color: white;


}

@media screen and (max-width: 640px) {
    .members {
        display: none;

    }

    .svg {
        display: none;
    }

    .png {
        display: block;
    }

    .membersMob {
        display: flex;
        width: 95%;

        margin-left: auto;
        margin-right: auto;
        color: black;
        font-weight: 600;
        font-size: 3vw;
    }



    .btn {
        font-size: 4vw;
    }

    .second {
        display: flex;
        width: 95%;

        margin-left: auto;
        margin-right: auto;
        color: black;
        font-weight: 600;
        font-size: 3vw;
        padding-bottom: 100px;
    }

}