body {
    z-index: 0;
    background: linear-gradient(to bottom,
            white 5%,
            white 25%,
            rgb(202, 7, 7) 95%);
    font-family: 'Montserrat', sans-serif;
    margin: 0;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    text-align: center;
    top: 0;
    color: white;
    background-color: black;
}

h1 {
    padding: 50px;
    font-size: xxx-large;

}

h2 {
    padding: 50px;
}

.main {
    height: 800px;
}

footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom: 0px;
    padding: 15px;
}