body {
    z-index: 0;
    background: linear-gradient(to bottom,
            rgb(202, 7, 7)30%,
            #16161d 50%,
            #16161d 80%,

            rgb(202, 7, 7) 85%);
    font-family: 'Montserrat', sans-serif;
    margin: 0;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    text-align: center;
    margin-top: -50px;
    color: white;
    background-color: #16161d;

}

.container.two {

    background-color: #FCF3F1;
    top: -20px;
}

h1 {
    padding: 50px;
    padding-top: 100px;
    font-size: xxx-large;


}

.cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}



h2 {

    text-align: center;
    padding: 30px;
    background-color: rgb(202, 7, 7);
    color: white;
    height: 50px;
    font-size: xx-large;

}


td,
th {


    padding: 15px;
    background-color: #FCF3F1;
    max-width: 800px;
}



.members {
    margin-bottom: 75px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-weight: 600;
    font-size: medium;

}

.pdf {
    margin-top: 50px;
    margin-bottom: 50px;

}



#contact {
    display: flex;
    justify-content: center;
}




h3 {
    font-size: 1.5vw;
    margin: 0px;
    padding: 5px;
}

.content {
    margin: 0px;
}

#rights {
    text-align: center;
    padding-top: 20px;
    margin: 0px;
}

footer {
    padding-top: 10px;
    background-color: #16161d;
    color: white;
    height: max-content;
    font-weight: lighter;
    bottom: 0px;
    padding: 15px;
    margin: 0px;

}

@media screen and (max-width: 640px) {
    .members {
        margin-bottom: 75px;
        width: 90%;


    }

    h3 {
        margin: 0px;
        font-size: 3vw;
        padding: 0px;
    }

    .content {
        margin: 0px;
        font-size: 2.5vw;
    }

    #rights {
        font-size: 2.5vw;

    }


}